

.navname{
  font-family: NeueHaasDisplayBlack;
 
  font-size: 26px;
  color: black;
}
.navprojects{
  font-family: NeueHaasDisplayMedium;
  font-weight: 200;
  font-style: normal;
  color: black;
  font-size: 17px;
}

.navcert{
  font-family: NeueHaasDisplayMedium;
  font-weight: 400;
  font-style: normal;
  color: black;
  font-size: 17px;

}

.navcontact{
  font-family: NeueHaasDisplayMedium;
  font-weight: 300;
  font-style: normal;
  color: black;
  font-size: 17px; 
}

.bigintro{
  font-family: NeueHaasDisplayBoldItalic;
  color:white;
  font-size: 75px;
  padding-top: 110px;
}
.nextintro{
  font-family: NeueHaasDisplayMedium;
  font-weight: 700;
  font-style: normal;
  color:white;
  padding-top: 25px;
  font-size: 20px;
}
.linkicon{
  color:white;
  font-size: 25px;
  margin: 15px;
}
.awslogo{
  color:white;
  margin-top: 90px;
  font-size: 40px;
  
}
.awstext{
  color:white;
  margin-top: 90px;
  font-family: NeueHaasDisplayBoldItalic;
  font-weight: 700;
  font-style: normal;
  margin-left: 11px;
  
}


.devhead{
  color:white;
  font-family: NeueHaasDisplayMedium;
  font-weight: 700;
  font-style: normal;
  font-size: 25px;
 

}

.devsub{
  color:white;
  font-family: NeueHaasDisplayBoldItalic;
  font-weight: 700;
  font-style: normal;
  font-size: 50px; 
}
.toolicons{
  color:white;
  font-size: 40px;
  margin: 9px;
}
.devrow{
  padding-top: 170px;
}
.projecthead{
  color:white;
  font-family: NeueHaasDisplayMedium;
  font-weight: 700;
  font-style: normal;
  font-size: 25px; 
}
.projectsub{
  color:white;
  font-family: NeueHaasDisplayBoldItalic;
  font-weight: 700;
  font-style: normal;
  font-size: 50px;  
}
.carousel{
  width:600px;
  height:350px;

}
.projectrow{
  padding-top: 160px;
  margin-bottom: 100px;
}
.endtitle{
  font-family: NeueHaasDisplayBlack;
  font-weight: 700;
  font-style: normal;
  padding-top: 25px;
  color: black;
  font-size: 25px;
}
.endicon{
  color:black;
  font-size: 17px;
  margin:10px;
  margin-top: 30px;
}
.endsub{
  font-size: 13px;
  color:black;
  font-family: NeueHaasDisplayRoman;
}
.love{
  font-family: NeueHaasDisplayRoman;
  font-weight: 700;
  font-style: normal;
  font-size: 15px;
  padding-top: 30px;
  color: black;
}
.projecttitle{
  font-family: NeueHaasDisplayMedium;
  font-weight: 700;
  font-style: normal;
  color: white;  
  font-size: 50px;
  padding-top: 50px;
}

.projecttitlesub{
  font-family: NeueHaasDisplayBoldItalic;
  font-weight: 700;
  font-style: normal;
  color: white;  
  font-size: 19px; 
  padding-top: 20px;
}
.videos{
  width:600px;
  height:400px;
}
.projectname{
  font-family:NeueHaasDisplayBold ;
  font-weight: 700;
  font-style: normal;
  color: white; 
  padding-top: 60px; 
}
.projectstack{
  font-family: NeueHaasDisplayBoldItalic;
  font-weight: 700;
  font-style: normal;
  color: white;
  font-size: 18px;
  padding-top: 18px;
}
.projectinfo{
  font-family: NeueHaasDisplayRoman;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size:15px ;
  padding-top: 40px;  
}
.button{
  margin:7px;
}
.certtitle{
  font-family: NeueHaasDisplayMedium;
  font-weight: 700;
  font-style: normal;
  color: white;  
  font-size: 50px;
  padding-top: 130px; 
}

.certtitlesub{
  font-family: NeueHaasDisplayBoldItalic;
  font-weight: 700;
  font-style: normal;
  color: white;  
  font-size: 19px; 
  padding-top: 20px;  
}
.certimage{
  width:600px;
  height:350px;
  padding-top: 20px;  
}
.certname{
  font-family: NeueHaasDisplayBold;
  font-weight: 700;
  font-style: normal;
  color: white; 
  padding-top: 60px;   
}
.linkicon{
  color: white;
  font-size: 28px;
}
.contacttitle{
  font-family: NeueHaasDisplayMedium;
  font-weight: 700;
  font-style: normal;
  color: white;  
  font-size: 50px;
  padding-top: 110px;   
}

.contacttitlesub{
  font-family: NeueHaasDisplayBoldItalic;
  font-weight: 700;
  font-style: normal;
  color: white;  
  font-size: 19px; 
  padding-top: 20px;   
}

.aboutmetitle{
  font-family: NeueHaasDisplayMedium;
  font-weight: 700;
  font-style: normal;
  color: white; 
  font-size: 50px;
  padding-top: 20px;
   
}
.aboutmeinfo{
  font-family: NeueHaasDisplayBoldItalic;
  font-weight: 700;
  font-style: normal;
  color: white; 
  font-size: 24px; 
  padding-top: 60px; 
}
.reach{
  font-family: NeueHaasDisplayMedium;
  font-weight: 700;
  font-style: normal;
  color: white; 
  font-size: 48px; 
  
}
.contacticon{
  color: white;
  font-size: 22px;
  margin-top: 8px;
}
.icontext{
  color: white;
  font-size: 15px;
  margin:9px;
  font-family: NeueHaasDisplayMedium;
  font-weight: 700;
  font-style: normal;
}
.contactrow{
  padding-top: 50px;
  padding-bottom: 80px;
}
.homepagediv{
  background-color: black;
  height: 100%;
  padding-top: 60px;
}

.bottomdiv{
  background-color: white;
  height:120px;
  margin-top: 26px;
}
.projectpagediv{
  background-color: black;
  height:1600px;
  padding-top: 60px;
}
.certpagediv{
  background-color: black;
  height:1070px;
  padding-top: 60px;
}
.contactpagediv{
  background-color: black;
  height:1010px;
  padding-top: 60px;
}














@media only screen 
and (min-width:320px)
and (max-width:480px) {


  .navname{
    font-size: 21px;
    padding-top: 8px;
  }
  .bigintro{
    font-size: 46px;
    padding-top: 50px;
  }
  .nextintro{
    font-size: 17px;
    padding-top: 76px;
  }
  .linkicon{
    font-size: 21px;
    margin: 20px;
      
  }
  .awslogo{
    font-size: 30px;
    margin-left: 15px;
    }
  .awstext{
    font-size: 15px;
  }
  .devrow{
    padding-top: 110px;
  }
  .devsub{
    font-size: 33px;
  }
  .projectrow{
    padding-top: 80px; 
  }
  .projectsub{
    font-size: 36px;  
  }
  .carousel{
    width:345px;
    height:230px;
    margin-top: 40px;
  }
  .homepagediv{
    
  }
  .endtitle{
    font-size: 15px;
  }
  .endicon{
    font-size: 12px;
    margin: 5px;
    margin-top: 29px;
  }
  .endsub{
    font-size: 9px;
  }

  .love{
    font-size: 11px;
  }
  .bottomdiv{
    margin-top: 60px;
    height:130px;
  }
  .videos{
    width:350px;
  }
  .projectname{
    padding-top: 4px;
    font-size: 21px;
  }
  .projectpagediv{
    height:2770px;
  }
  .certimage{
    padding-top: 62px;
    height: 150px;
  }
 .certname{
   font-size: 21px;
 }
 .certpagediv{
   height:930px;
 }
 .aboutmetitle{
   font-size: 42px;
 }
 .aboutmeinfo{
   font-size: 18px;
   padding-top: 130px;
   
 }
 .contactpagediv{
   height: 1450px;
 }
 .reach{
  font-size: 42px;  
 }
 .contacticon{
   margin-left: 13px;
 }
 .iconsandtextrow{
   padding-top: 30px;
 }
 .devhead{
   font-size: 20px;
 }
 .projecthead{
  font-size: 20px; 
 }
 .projectsub{
  font-size: 36px;
 }

 .projecttitle{
   font-size: 41px;
 }

 .certtitle{
   font-size: 43px;
 }

 .contacttitle{
   font-size: 42px;
 }

}










@media only screen 
  and (min-device-width: 480px) 
  and (max-device-width: 768px) 
  {

    .carousel{
      width:510px;
      padding-top: 40px;
    }
    .homepagediv{
      height:2620px;
    }
    .awslogo{
      margin-left: 17px;
    }
    .videos{
      width:510px;
    }
    .projectpagediv{
      height:2600px;
    }
    .certpagediv{
    height:940px;  
    }
    .contactpagediv{
      height:1356px;
    }
    .certimage{
      padding-top: 65px;
    }

  }


  @media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  {
.contactpagediv{
  height:1100px;
}
.homepagediv{
  
}

}



@media only screen 
and (min-device-width: 1024px) 
and (max-device-width: 1280px) 
{

.projectsub{
  font-size: 37px;
}
.homepagediv{
  
}
.projectpagediv{
  height:1810px;
}
.certpagediv{
  height:958px;
}
.devsub{
  font-size: 37px; 
}
}


























